@model DauGiaTrucTuyen.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <button type="submit" id="Facebook" name="provider" value="Facebook" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fab fa-facebook-f"></i> Đăng nhập với
                Facebook
            </button>
            <button type="submit" id="Google" name="provider" value="Google" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fab fa-google-plus-g"></i> Đăng nhập với
                Google+
            </button>
        }
    }
}
