@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="text-center" style="margin-bottom: 10%;">
    <h3>XÁC NHẬN QUÊN MẬT KHẨU</h3>
    <div>
        <p>
            <br />
            Bạn hãy kiểm tra Email để đặt lại mật khẩu cho tài khoản.
        </p>
    </div>
</div>


