@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<hgroup class="title text-center">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p class="text-center"><br />
        Bạn hãy kiểm tra Email để đặt lại mật khẩu cho tài khoản.
    </p>
</div>
	
