@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h3 class="text-center">XÁC NHẬN QUÊN MẬT KHẨU</h3>
<div>
    <p class="text-center">
        <br />
        Bạn hãy kiểm tra Email để đặt lại mật khẩu cho tài khoản.
    </p>
</div>

