@{
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<hgroup class="title">
    <h1>ĐẶT LẠI MẬT KHẨU THÀNH CÔNG</h1>
</hgroup>
<div>
    <p>
        Mật khẩu của bạn đã được đặt lại. Bạn hãy @Html.ActionLink("chọn vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
