@{
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h3 class="text-center">ĐẶT LẠI MẬT KHẨU</h3>
<BR />
<div>
    <p class="text-center">
        Mật khẩu của bạn đã được đặt lại. Vui lòng @Html.ActionLink("chọn vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
