@{
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="text-center" style="margin-bottom: 10%;">
    <h3>ĐẶT LẠI MẬT KHẨU</h3>
    <br />
    <div>
        <p>
            Mật khẩu của bạn đã được đặt lại. Vui lòng @Html.ActionLink("chọn vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>

