@model DauGiaTrucTuyen.Areas.Admin.Models.ChartViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    <img src="@Url.Action("chart")" alt="Chart" />
</div>

