################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DauGiaTrucTuyen/bin
/DauGiaTrucTuyen/obj/Debug
/.vs
