
@{
    ViewBag.Title = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="text-center" style="margin-bottom: 10%;">
    <h3>ĐĂNG KÝ TÀI KHOẢN</h3>
    <br />
    <p>Bạn đã xác thực tài khoản thành công</p>
    <p>Vui lòng tiến hành đăng nhập để có thể thực hiện các chức năng của hệ thống</p>
</div>

