
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@section css{
    <link href="~/Content/ClientTemplate/css/flexslider.css" rel="stylesheet" />
}
<section class="banner-bottom py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-shop pt-lg-4 pt-3">
            <div class="row">
                <div class="col-lg-4 single-right-left ">
                    <div class="grid images_3_of_2">
                        <div class="flexslider1">
                            <ul class="slides">
                                <li data-thumb="/Content/Admin/img-test/a1.jpg">
                                    <div class="thumb-image"> <img src="/Content/Admin/img-test/a1.jpg" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                </li>
                                <li data-thumb="/Content/Admin/img-test/a2.jpg">
                                    <div class="thumb-image"> <img src="/Content/Admin/img-test/a2.jpg" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                </li>
                                <li data-thumb="/Content/Admin/img-test/a3.jpg">
                                    <div class="thumb-image"> <img src="/Content/Admin/img-test/a3.jpg" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Content/ClientTemplate/js/imagezoom.js"></script>
    <script src="~/Content/ClientTemplate/js/jquery.flexslider.js"></script>
    <script>
        $(window).load(function () {
            $('.flexslider1').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
}