@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@section css{

}
<div id="loadpage"></div>
@{ Html.RenderAction("GetListProductForPageClient", "Product");}

@section scripts{
    <script src="~/Content/ClientTemplate/js/loadpage.js"></script>
}
