@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@section css{

}
<div id="loadpage"></div>
@{ Html.RenderAction("GetListProductForPageClient", "Product");}
<!-- banner-bottom1 -->
<div class="banner-bottom1">
    <div class="agileinfo_banner_bottom1_grids">
        <div class="col-md-7 agileinfo_banner_bottom1_grid_left">
            <h3>Grand Opening Event With flat<span>20% <i>Discount</i></span></h3>
            <a href="#">Shop Now</a>
        </div>
        <div class="col-md-5 agileinfo_banner_bottom1_grid_right">
            <h4>hot deal</h4>
            <div class="timer_wrap">
                <div id="counter"> </div>
            </div>
            <script src="~/Content/ClientTemplate/js/jquery.countdown.js"></script>
            <script src="~/Content/ClientTemplate/js/script.js"></script>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //banner-bottom1 -->
<!-- top-brands -->
<div class="top-brands">
    <div class="container">
        <h3>Đối Tác</h3>
        <div class="sliderfig">
            <ul id="flexiselDemo1">
                <li>
                    <img src="~/Content/ClientTemplate/images/tb1.jpg" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="~/Content/ClientTemplate/images/tb2.jpg" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="~/Content/ClientTemplate/images/tb3.jpg" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="~/Content/ClientTemplate/images/tb4.jpg" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="~/Content/ClientTemplate/images/tb5.jpg" alt=" " class="img-responsive" />
                </li>
            </ul>
        </div>
    </div>
</div>
<!--Modal Login-->
<div class="modal fade" id="modal-login" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @{ Html.RenderAction("Login", "Account");}
            </div>
        </div>
    </div>
</div>
<!--Modal Register-->
<div class="modal fade" id="modal-register" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @{ Html.RenderAction("Register", "Account");}
            </div>
        </div>
    </div>
</div>
<!--Modal Forgot-->
<div class="modal fade" id="modal-forgotpassword" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @Html.Partial("~/Views/Account/ForgotPassword.cshtml")
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/ClientTemplate/js/jquery.flexisel.js"></script>
    <script>
        $(document).ready(function () {
                $("#modal-register").modal("hide");
                $("#modal-forgotpassword").modal("hide");
                if ("@Request.IsAuthenticated" == "False") {
                    $('#loadpage').hide();
                    $("#modal-login").modal("show");
                }
                else {
                    $(window).on('load', function () {
                        var pre_loader = $('#loadpage');
                        pre_loader.fadeOut('slow', function () {
                            $(this).remove();
                        });
                    });
                }

            $(".modal-body").on('click','#js_btnRegister', function () {
                    $("#modal-forgotpassword").modal("hide");
                    $("#modal-login").modal("hide");
                    $("#modal-register").modal("show");
                });

            $(".modal-body").on('click','#js_btnLogin', function () {
                    $("#modal-forgotpassword").modal("hide");
                    $("#modal-register").modal("hide");
                    $("#modal-login").modal("show");
                });

            $(".modal-body").on('click','#js_btnForgotPassword', function () {
                    $("#modal-login").modal("hide");
                    $("#modal-register").modal("hide");
                    $("#modal-forgotpassword").modal("show");
                });


                $("#submit-register").click(function () {
                    $('#form-register').validate({
                        submitHandler: function (form) {
                            var data = {};
                            data.UserName = $("#UserName").val();
                            data.Email = $("#Email").val();
                            data.PhoneNumber = $("#PhoneNumber").val();
                            data.Password = $("#Password").val();
                            data.ConfirmPassword = $("#ConfirmPassword").val();
                            data.Select = $("#Select").val();
                            $.ajax(
                                {
                                    url: "/Account/Register",
                                    type: "POST",
                                    data: data,
                                    success: function (result) {
                                        //if (result) {
                                            swal({
                                                title: "Đăng ký tài khoản?",
                                                text: "Vui lòng truy cập Email để xác thực tài khoản",
                                                type: "success",
                                                showCancelButton: true,
                                                closeOnConfirm: false,
                                                confirmButtonText: "Đồng ý",
                                                cancelButtonText: 'Không',
                                                confirmButtonColor: "#ec6c62",
                                                closeOnConfirm: false,
                                                closeOnCancel: true
                                            }, function () {
                                                window.location.href = '@Url.Action("Index", "Home")';
                                            });
                                        //}
                                        //else {
                                        //    swal("Đăng ký thất bại", ":(", "error");
                                        //}
                                    }
                                });
                        }
                    })
                })
            })
    </script>
}
