
@{
    ViewBag.Title = "Chính sách trả phí dịch vụ";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2 style="text-align: center">CHÍNH SÁCH TRẢ PHÍ DỊCH VỤ</h2>
<br />
<br />
<p>
    Người dùng dịch vụ trên website đấu giá sản phẩm trực tuyến phải trả phí dịch vụ cho
    người quản trị hệ thống với mức phí như sau
    hoàn toàn miễn phí với lượt đăng bán đầu tiên
    từ lượt thứ 2 đăng bán sản phẩm mức phí sẽ là 5000 VND/ 1 tin đăng
    từ lượt thứ 10 đăng bán sản phẩm mức phí sẽ là 4000 VND/ 1 tin đăng
    từ lượt thứ 20 đăng bán sản phẩm mức phí sẽ là 3000 VND/ 1 tin đăng
    từ lượt thứ 100 đăng bán sản phẩm mức phí sẽ là 2000 VND/ 1 tin đăng
</p>
