
@{
    ViewBag.Title = "Chính sách bảo mật";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div id="supplier" class="single_page info_pages">
    <div id="content">
        <div class="wrapper">
            <h1 class="text-center">Chính sách bảo mật </h1>
            <br />
            <p>
                Chúng tôi coi trọng tính bảo mật về khách hàng của chúng tôi và chúng tôi sẽ chỉ thu thập và sử dụng thông tin cá nhân của bạn như được nêu dưới đây.
                Bảo vệ dữ liệu là vấn đề tin cậy và sự riêng tư của bạn rất quan trọng đối với chúng tôi.
                Do đó, chúng tôi chỉ sử dụng tên của bạn và các thông tin khác có liên quan đến bạn theo cách thức được nêu trong Chính sách Bảo mật này.
                Chúng tôi sẽ chỉ thu thập thông tin ở những nơi cần thiết để chúng tôi làm như vậy và chúng tôi sẽ chỉ thu thập thông tin nếu nó liên quan đến các giao dịch của chúng tôi với bạn.
                <br />Chúng tôi sẽ chỉ lưu giữ thông tin của bạn cho đến khi nào luật pháp yêu cầu hoặc phù hợp với mục đích thu thập thông tin.
                <br />Bạn có thể truy cập Trang web và duyệt web mà không phải cung cấp các thông tin cá nhân.
                Trong suốt lần truy cập vào trang web của bạn, bạn sẽ không xác định danh tính và bạn không thể xác định bạn trừ khi bạn có tài khoản trên trang web và đăng nhập bằng tên người dùng và mật khẩu của bạn.
                <br />Nếu bạn có bất kỳ nhận xét hoặc đề xuất nào, chúng tôi sẽ vui lòng nhận chúng tại địa chỉ của chúng tôi hoặc bằng cách gửi email cho chúng tôi theo địa chỉ: doanthanhlong1801@gmail.com
                <br />Tuyên bố Bảo mật của chúng tôi hoàn toàn tuân thủ Đạo luật Bảo mật 1988 và thể hiện cách làm tốt nhất của ngành.
                <br />Thông tin Cá nhân
                <br />Website chúng tôi không bán, chia sẻ hoặc trao đổi thông tin cá nhân cho khách hàng thu thập trực tuyến với bên thứ ba.<br />
                <br />Thông tin cá nhân được thu thập trực tuyến sẽ chỉ được tiết lộ trong nhóm công ty và các công ty chị em của chúng tôi để sử dụng nội bộ.<br />
                <br />Khi bạn tạo một tài khoản tại Website chúng tôi, thông tin cá nhân chúng tôi thu thập có thể bao gồm:
                <br />Tên
                <br />Địa chỉ email
                <br />Số điện thoại
                <br />Thông tin cá nhân mà chúng tôi thu thập từ bạn sẽ được sử dụng theo một số hoặc tất cả các cách sau:
                <br />Để phân phối các sản phẩm bạn đã mua từ Website chúng tôi
                <br />Để cập nhật cho bạn về việc phân phối sản phẩm và cho các mục đích hỗ trợ khách hàng
                <br />Cung cấp cho bạn thông tin sản phẩm có liên quan
                <br />Để xử lý đơn hàng của bạn và cung cấp cho bạn các dịch vụ và thông tin được cung cấp qua trang web của chúng tôi và bạn yêu cầu
                <br />Hơn nữa, chúng tôi sẽ sử dụng thông tin bạn cung cấp để quản lý tài khoản của bạn với chúng tôi; xác minh và thực hiện các giao dịch tài chính liên quan đến thanh toán bạn thực hiện trực tuyến; kiểm tra việc tải dữ liệu từ trang web của chúng tôi; cải tiến bố trí và / hoặc nội dung của các trang trong trang web của chúng tôi và tùy chỉnh chúng cho người dùng; xác định khách truy cập trên trang web của chúng tôi; tiến hành nghiên cứu về nhân khẩu học của người sử dụng; gửi cho bạn thông tin mà chúng tôi cho rằng bạn có thể thấy hữu ích hoặc bạn đã yêu cầu từ chúng tôi, bao gồm thông tin về sản phẩm và dịch vụ của chúng tôi, miễn là bạn cho biết rằng bạn không phản đối để được liên lạc với những mục đích này
                <br />Chúng tôi có thể chuyển tên và địa chỉ của bạn tới bên thứ ba để giao hàng cho bạn (ví dụ như chuyển phát nhanh hoặc nhà cung cấp của chúng tôi).<br />
                <br />Khi bạn đăng ký tài khoản tại Website chúng tôi, chúng tôi cũng sẽ sử dụng thông tin cá nhân của bạn để gửi cho bạn các tài liệu tiếp thị và / hoặc quảng cáo theo thời gian. Nếu có liên quan, chúng tôi sẽ cho phép các công ty chị em của chúng tôi gửi tài liệu tiếp thị có liên quan cho bạn. Bạn có thể hủy đăng ký thông tin tiếp thị bất kỳ lúc nào bằng cách sử dụng chức năng hủy đăng ký trong tài liệu tiếp thị điện tử.<br />
                <br />Các khoản thanh toán mà bạn thực hiện qua Trang web sẽ được xử lý bởi đại lý đạt chuẩn của chúng tôi.
                Bạn chỉ phải gửi cho chúng tôi hoặc Đại lý hoặc thông tin trang web của chúng tôi là chính xác và để không gây hiểu nhầm và bạn phải cập nhật thông tin này và thông báo cho chúng tôi về các thay đổi.
                <br />Chi tiết đặt hàng của bạn được lưu trữ với chúng tôi nhưng vì lý do an toàn không thể lấy trực tiếp bởi chúng tôi.
                Tuy nhiên, bạn có thể truy cập thông tin này bằng cách đăng nhập vào tài khoản của bạn trên trang web.
                Tại đây bạn có thể xem chi tiết các đơn đặt hàng của bạn đã hoàn thành, những thông tin được mở và những thông tin được cung cấp và quản lý chi tiết địa chỉ, chi tiết ngân hàng và bất kỳ bản tin nào mà bạn đã đăng ký.
                Bạn cam kết giữ bí mật dữ liệu cá nhân và không cung cấp cho các bên thứ ba trái phép.
                Chúng tôi không thể chịu bất kỳ trách nhiệm pháp lý nào cho việc sử dụng sai mật khẩu trừ phi lỗi này là lỗi của chúng tôi.
                <br />Cập nhật thông tin cá nhân của bạn
                <br />Bạn có thể cập nhật thông tin cá nhân của mình bất cứ lúc nào bằng cách truy cập vào tài khoản của bạn trên trang web Chilindo.<br />
                <br />Bảo mật thông tin cá nhân của bạn
                <br />Website chúng tôi đảm bảo rằng tất cả các thông tin thu thập sẽ được lưu trữ cẩn thận và an toàn.
                Chúng tôi bảo vệ thông tin cá nhân của bạn bằng cách:
                <br />Hạn chế quyền truy cập thông tin cá nhân
                <br />Duy trì các sản phẩm công nghệ để ngăn chặn truy cập trái phép máy tính
                <br />An toàn phá hủy thông tin cá nhân của bạn khi không còn cần thiết cho mục đích lưu giữ hồ sơ của chúng tôi nữa.
                <br />Website chúng tôi sử dụng công nghệ mã hóa MD5 (Message-Digest algorithm 5) khi xử lý các chi tiết tài chính của bạn.
                Mã hóa MD5 được ước tính phải mất ít nhất một nghìn tỷ năm để phá vỡ và là tiêu chuẩn ngành.
                <br />Tiết lộ thông tin cá nhân<br />
                <br />Chúng tôi sẽ không chia sẻ thông tin của bạn với bất kỳ tổ chức nào khác ngoài các công ty liên quan, các công ty chị em và các bên thứ ba liên quan trực tiếp đến việc phân phối các sản phẩm bạn đã mua từ trang web Website chúng tôi.
                Trong trường hợp đặc biệt, Chilindo có thể được yêu cầu tiết lộ thông tin cá nhân, chẳng hạn như khi có căn cứ cho rằng việc tiết lộ là cần thiết để ngăn ngừa mối đe dọa đến mạng sống hoặc sức khoẻ hoặc vì mục đích thực thi pháp luật.
                Website chúng tôi cam kết tuân thủ Đạo luật Bảo mật và Nguyên tắc Bảo mật Quốc gia.
                <br />Tuy nhiên, chúng tôi có thể sử dụng thông tin liên lạc của bạn để gửi bản tin từ chúng tôi và từ các công ty liên quan của chúng tôi.<br />
                <br />Nếu bạn tin rằng sự riêng tư của bạn đã bị xâm phạm bởi Chilindo, vui lòng liên hệ với chúng tôi tại: doanthanhlong1801@gmail.com và chúng tôi sẽ giải quyết vấn đề.<br />
                <br />Bộ sưu tập dữ liệu máy tính
                <br />Khi bạn truy cập vào Website chúng tôi, máy chủ của công ty chúng tôi sẽ tự động ghi lại thông tin mà trình duyệt của bạn gửi bất cứ khi nào bạn truy cập trang web. Dữ liệu này có thể bao gồm:
                <br />Địa chỉ IP của máy tính
                <br />Loại trình duyệt
                <br />Trang web bạn đã ghé thăm trước khi bạn đến trang web của chúng tôi
                <br />Các trang có trong Website của chúng tôi bạn ghé thăm
                <br />Thời gian dành cho những trang, mục và thông tin tìm kiếm trên trang web của chúng tôi, thời gian và ngày truy cập, và các thống kê khác.
                <br />Thông tin này được thu thập để phân tích và đánh giá để giúp chúng tôi cải tiến trang web của chúng tôi và các dịch vụ và sản phẩm mà chúng tôi cung cấp. Dữ liệu này sẽ không được sử dụng kết hợp với bất kỳ thông tin cá nhân nào khác.
                <br />Thay đổi Chính sách Bảo mật
                <br />Website chúng tôi có quyền thay đổi và thay đổi tuyên bố về quyền riêng tư bất cứ lúc nào.
                Mọi thay đổi đối với chính sách này sẽ được công bố trên trang của chúng tôi.<br />
                <br />Khiếu nại về quyền riêng tư
                <br />Nếu bạn không hài lòng với cách thức mà chúng tôi xử lý yêu cầu hoặc khiếu nại của bạn, vui lòng liên hệ với chúng tôi theo địa chỉ: doanthanhlong1801@gmail.com.
            </p>
        </div>
    </div>
</div>

