@{
    ViewBag.Title = "Báo cáo người dùng";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="text-center" style="margin-bottom: 10%;">
    <h3>BÁO CÁO NGƯỜI DÙNG</h3>
    <br />
    <p>Bạn đã gửi báo cáo thành công</p>
    <p>Chúng tôi sẻ xem xét và phản hồi cho bạn trong thời gian sớm nhất</p>
</div>
