@model DauGiaTrucTuyen.Areas.Admin.Models.DetailProductViewModel

@{
    ViewBag.Title = "Chi tiết sản phẩm đấu giá";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link rel="stylesheet" href="~/Content/Client/css/etalage.css" type="text/css" media="all" />
}
@section scripts{
    <script src="~/Content/Client/js/jquery.etalage.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 600,
                source_image_height: 800,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>
}
<div class=" single_top">
    <div class="single_grid">
        <div class="grid images_3_of_2">
            <ul id="etalage">
                <li>
                    <a href="optionallink.html">
                        <img class="etalage_thumb_image img-responsive" src="@Model.Image" />
                        <img class="etalage_source_image img-responsive" src="@Model.Image" />
                    </a>
                </li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="desc1 span_3_of_2">
            <h4>@Model.ProductName</h4>
            <div class="cart-b">
                <div class="left-n ">$329.58</div>
                <a class="now-get get-cart-in" href="#">ADD TO CART</a>
                <div class="clearfix"></div>
            </div>
            <h6>100 items in stock</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <div class="share">
                <h5>Share Product :</h5>
                <ul class="share_nav">
                    <li><a href="#"><img src="~/Content/Client/images/facebook.png" title="facebook"></a></li>
                    <li><a href="#"><img src="~/Content/Client/images/twitter.png" title="Twiiter"></a></li>
                    <li><a href="#"><img src="~/Content/Client/images/rss.png" title="Rss"></a></li>
                    <li><a href="#"><img src="~/Content/Client/images/gpluse.png" title="Google+"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

