
@{
    ViewBag.Title = "Đánh giá";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="text-center" style="margin-top: 10%; margin-bottom:20%;">
    <h2>Chức năng này đang xây dựng</h2>
    <br />
    <p>
        Cảm ơn bạn đã quan tâm, chúng tôi đang xây dựng nội dung và sẽ trở lại sớm.
    </p>
</div>
