
@{
    ViewBag.Title = "ConfirmAddProduct";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="row">
    <div class="text-center" style="margin-bottom: 10%;">
        <h3>ĐĂNG KÝ SẢN PHẨM ĐẤU GIÁ</h3>
        <br />
        <p>Bạn đã gửi đăng ký sản phẩm đấu giá</p>
        <p>Chúng tôi sẻ xem xét và duyệt sản phẩm của bạn nếu đầy đủ các yêu cầu của hệ thống</p>
    </div>
</div>

