<!--Gửi cho người thắng cuộc-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thông tin phiên đấu giá</title>
</head>
<body style="color:black">
    <div style="text-align:center;">
        <h4>Cảm ơn bạn đã tham gia phiên đấu giá của tôi chúng. Sau đây là thông tin mà phiên đấu giá bạn đã thắng cuộc</h4>
    </div>
    <div style="background-color: #efcccc;">
        <table style="width: 100%; margin:auto; background-color:white;">
            <tr style="background-color:#3c43a4; color:white; height:40px;">
                <th colspan="2" style="text-align: center;">Thông tin chi tiét</th>
            </tr>
            <tr style="background-color: #eae9e9;">
                <td style="width:50%;">Tên sản phẩm</td>
                <td>{{ProductName}}</td>
            </tr>
            <tr>
                <td>Mã phiên đấu giá</td>
                <td>{{Transaction_Id}}</td>
            </tr>
            <tr style="background-color: #eae9e9;">
                <td>Số tiền đấu giá cao nhất</td>
                <td>{{PriceAuction}} VND đồng</td>
            </tr>
            <tr style="background-color:#3c43a4; color:white; height:40px;">
                <th colspan="2" style="text-align: center;">Thông tin chi tiết chủ sản phẩm</th>
            </tr>
            <tr>
                <td>Tên tài khoản</td>
                <td>{{UserName}}</td>
            </tr>
            <tr style="background-color: #eae9e9;">
                <td>Email</td>
                <td>{{Email}}</td>
            </tr>
            <tr>
                <td>Số điện thoại</td>
                <td>{{PhoneNumber}}</td>
            </tr>
            <tr style="background-color: #eae9e9;">
                <td>Họ</td>
                <td>{{LastName}}</td>
            </tr>
            <tr>
                <td>Tên</td>
                <td>{{FirstName}}</td>
            </tr>
        </table>
    </div>
</body>
</html>
