@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h1 class="text-danger">Yêu cầu của bạn đã bị lỗi</h1>
<h2 class="text-danger">Chúng tôi xin lỗi vì bất tiện này. Vui lòng thử lại sau</h2>

