@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Khóa tài khoản";
}

<hgroup>
    <h1 class="text-danger">Khóa tài khoản</h1>
    <h2 class="text-danger">Tài khoản của bạn đã bị Khóa. Vui lòng thử lại sau</h2>
</hgroup>
