@model IEnumerable<DauGiaTrucTuyen.Areas.Admin.Models.ListCategoryViewModel>

@foreach (var item in Model)
{
    <li><a href="@Url.Action("GetListProductFromCategory","Product", new { id = item.Categorys_Id })" data-id="@item.Categorys_Id">@item.CategoryName</a></li>
}
